.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-list-card {
  width: 2000px;
}

.user-div {
  display: flex;
  flex-direction: row;
}

.user-info-div {
  display: block;
}

